*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mediascreen and (max-width:768px){
    .container{
        width: 100%;
    }

}
@media screen and (min-width:992px){
    .container{
        width: 970px;
    
    }
}
@media screen and (min-width:1200px){
    .container{
        width: 1170px;
    }
    
}

@media screen and (max-width:768px){
    .contact_wrapper{
        display: block;
    }
    
}
@media screen and (max-width:768px){
    
    
}

.container{
    max-width: 112rem;
    margin: 0 auto;
    padding: 0 1.5rem;

}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    
}
:root{
    --primary:#ffa700;
    --black: #2b2b2b;
    --gray: #808080;
    --white: #fff;
}

 /*--------This is Header Element-----*/
.header__logo span{
    color: #ffa700;
}

.header{
    background-color: var(--black);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--white);
}


nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    color: white;
}
nav ul li a:hover{
    color: var(--white);
}

nav ul li a{
    color: var(--gray);
    text-decoration: none;
}
.toggle__menu{
    cursor: pointer;
}
.toggle__menu span{
    background-color: var(--primary);
    display: block;
    height: 0.2rem;
    width: 2rem;
    margin-bottom: 0.4rem;
    border-radius: 0.5rem;
}

@media screen and (max-width:768px){
    .toggle__menu{
        display: block;
    }
    nav.open ul{
        right: -50%;
        transition: 0.5s ease-in;
        
    }
    nav ul{
        display: block;
        position: absolute;
        right: -100%;
        top: 6.5rem;
        background-color: var(--white);
        width: 100%;
        height: 100vh;
        text-align: left;
        transition: 0.5s ease-in;
    }

    nav ul li a{
        display: block;
        width: 100%;
        padding: 1rem;
        border-bottom: 1px solid rgba(185, 185, 185, 0.572);
        
    }
    nav ul li:hover{
        background-color: var(--primary);
        
    }
    nav ul li :hover a{
        color: var(--white);
    }

    .toggle__menu.open span :nth-child(1){
        transition: 0.5 ease;
        transform: translate(-2px, 7.3x) rotate(45deg);
    }
    .toggle__menu.open span :nth-child(2){
        opacity: 0;
        transform: 0s;
    }
    .toggle__menu.open span :nth-child(3){
        transition: 0.5 ease;
        transform: translate(-2px, -12x) rotate(-45deg);
    }
    
}
/*------header ends here------*/

/*------Banner-----*/


.BANNER{
    padding-bottom: 6rem;
    padding-top: 12rem;
}
.banner__wrapper{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.BANNER img{
    margin-top: 5rem;
    width: 40rem;
    
}
.banner__content h1{
    color: var(--primary);
    font-size: clamp(3rem, 5vw, 5rem);
    line-height: 1;
}

.banner__content a{
    text-decoration: none;
    background-color: var(--primary);
    color: var(--white);
    padding: 0.8rem 3rem;
    display: inline-block;
    border-radius: 2rem;
    text-transform: uppercase;

}
.banner__content a:hover{
    background-color: var(--black);
    color: white;
}
.banner__content h1, p{
    margin: 2rem 0;
    text-align: justify;
}
@media screen and (max-width:768px){
    .banner__wrapper{
        flex-direction: column;
    }
    .BANNER img{
        width: 100% !important;
    }
}
/*-------banner end-----*/






.services{
    background-color: var(--black);
    color: var(--white);
    padding-bottom: 6rem;
    padding-top: 12rem;
}
.service__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;

}


.service__type{
    text-align: center;

}
.service__type p{
    text-align: justify;
}
.service__type h3{
    margin-top: 2rem;
    color: var(--primary);

}
.service__type a{
    text-decoration: none;
    background-color: var(--primary);
    color: var(--white);
    padding: 0.8rem 3rem;
    display: inline-block;
    border-radius: 2rem;
    text-transform: uppercase;
}
.service__type a:hover{
    background-color: var(--white);
    color: var(--black);

}

@media screen and (max-width:768px){
    .service__wrapper{
        grid-template-columns: 1fr;
    }
    
}

/*-------ABOUT STARTS HERE----*/
.aboutme{
    padding: 6rem 0;
}
.about__wrapper{
    display: flex;
    align-items: center;
    gap:4rem;
}
.about__img{
    display: flex;
    margin-top: 2rem;
    filter: saturate(20);
    filter: contrast(180%);
    
    
}
.about__content h2{
    justify-content: space-between;
    color: var(--primary);
    
}
.about__content p{
    color: var(--black);
    margin: 2rem 0;
    text-align: justify;
}
@media screen and (max-width:768px){
    .about__wrapper{
        display: block;
    }
    
    
}


/*-------ABOUT ENDS HERE----*/

/*-----Latest Trends----*/

.LatestTrends{
    background-color: var(--black);
    padding: 5rem 0;
}
.LatestTrends h2{
    color: var(--primary);
}   

.LatestTrends p{
    color: var(--white);
}   

.LatestTrends_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
}
.LatestTrend_Card img{
    width: 350px;
}
.LatestTrends p{
    margin-top:10px;
    color: var(--white);
}   

.LatestTrends h2{
    color: var(--primary);
}
.LatestTrend_Card{
    margin-top: 20px;
   position: relative;
   height: 450px;
   background-color: var(--white);
   border-radius: 25px;
}
.cardContent p{
    color: black;
    padding: 1rem;
    margin-bottom: 2px;
}
.cardContent h4{
    color:var(--primary);
    padding: 1rem;
}
.cardContent a{
    color: var(--primary);
    margin-left: 15px;
    position: absolute;
    display: flex;
    text-decoration: none;
  
}

@media screen and (max-width:768px){
    .LatestTrends_wrapper{
        grid-template-columns: 1fr;
    }
    .LatestTrend_Card{
        max-width: 350px;
        max-height: 450px;
        margin: auto;
    }
}

/*-----Latest Trends ends here----*/

.contacts{
    background-color: var(--primary);
    padding: 6rem 0;
}
.contact__content{
    text-align: center;
    align-items: center;
}
.contact__content p{
    align-items: center;
    text-align: center;
}
.contact__content a{
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    align-items:center ;
}
.contact__content a:hover{
    background-color: var(--white);
    color: black;
}



/*-----Footer-----*/


  @media screen and (max-width:768px){
    footer{
        grid-template-columns: 1fr;
        
    }
    .icons{
        display: block;
    }
}
/*-----Footer-----*/
.footer {
    background-color: var(--black);
    color: var(--gray);
    padding: 3rem 0;
}

.footer ul {
    list-style: none;
    display: flex;
    gap: 0.8rem;
}

.footer ul li a i {
    font-size: 1.5rem;
    color: var(--gray);
}



.footer ul li a {
    display: inline-block;   
}
@media (max-width: 768px){
    .footer ul li {
        margin: auto;
    }
}

.socialLinks {
    display: flex;
    gap: 1rem;
    align-items: center;
}

@media (max-width: 768px){
    .socialLinks {
        display: inline;
    }
    .socialLinks ul{
        text-align: center;
    }
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px){
    .footer__wrapper {
        display: inline;
        text-align: center;
    }
}

/*-----About Me Page-----*/

  .about{
    padding: 6rem 0;
  }

  .aboutWrapper{
    display: flex;
    align-items: center;
  }
  
  .aboutcontent h1{
    color: var(--primary);
    font-size: 5rem;
    line-height: 0.5rem;
    margin-bottom: 3rem;
  }
  

 .aboutWrapper img{
    margin-top: 20%;
    width: 30rem;
    
  }

  .abouticons i{
    padding: 10px;
    color: var(--primary);

  }
  .InCenter{
    text-align: center;
  }
  .InCenter i{
     color: var(--primary);
    padding-bottom: 3rem;
    
  }
  
  @media screen and (max-width:768px){
    .aboutWrapper{
        flex-direction: column;
    }
    .aboutcontent{
        padding-top: 5rem;
        width: 100% !important;
    }
}


.RecentProjects{
    background-color: var(--black);
    padding: 5rem 0;
}
.RecentProjects h1{
    color: var(--primary);
    font-size: 2rem;
}   

.RecentProjects p{
    color: var(--white);
    line-height: 1rem;
}   

.RecentProjects_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
}

.RecentProjects_Card{
    margin-top: 20px;
   position: relative;
   height: 450px;
   background-color: var(--white);
   border-radius: 25px;
}
.RecentProjects_Card img{
    width:350px ;
}
.card__content p{
    color: black;
    padding: 1rem;
    margin-bottom: 2px;
}
.card__content h4{
    color:var(--primary);
    padding: 1rem;
}
.card__content a{
    color: var(--primary);
    margin-left: 15px;
    position: absolute;
    display: flex;
    text-decoration: none;
}
@media screen and (max-width:768px){
    .RecentProjects_wrapper{
        grid-template-columns: 1fr;
    }
    .RecentProjects_Card{
        max-width: 350px;
        max-height: 450px;
        margin: auto;
    }
}

/*-----About Me Page-----*/

/*-----Services-----*/
@media screen and (max-width:768px){
    .serviceswrapper{
        flex-direction: column;
    }
    .serviceswrapper img{
        width: 100% !important;
    }
}
.servicespg{
    padding: 6rem 0;
}

.serviceswrapper{
    display: flex;
    gap: 5rem;
    margin: 5rem;
}


.servicescontent h1{
    color: var(--primary);
    font-size: 2rem;
}
.servicescontent h2{
    color: var(--primary);
    font-size: 2rem;
    font-weight: normal;
    
}
.servicescontent small{
    color: black;
}

.serviceswrapper img{
    width: 40rem;
    filter: saturate(20);
    filter: contrast(180%);
    
}

.arrowdown{
    text-align: center;
}
.arrowdown i{
    color: var(--primary);
    padding-bottom: 3rem;
}

.GandVD{
    padding: 5rem;
    background-color: var(--black);
}

.graphicswrapper{
    display: flex;
}
.graphicswrapper{
    gap: 4rem;
}
.graphiccontent h1{
    color: var(--primary);
    font-size: 2rem;
}
.graphiccontent h2{
    color: var(--primary);
    font-size: 2rem;
    font-weight: normal;
}

.graphiccontent p, small{
    color: var(--white);
}

.arrowdown1{
    text-align: center;
    margin-top: 3rem;
}
.arrowdown1 i{
    color: var(--primary);
    padding-bottom: 3rem;
}

.socmedwrapper{
    display: flex;
    gap: 4rem;
    margin-top: 4rem;
}
.socmedwrapper img{
    margin-bottom: 20%;
    filter: saturate(20);
    filter: contrast(180%);
}
.socmedcontent h1{
    color: var(--primary);
    font-size: 2rem;
}
.socmedcontent h2{
    color: var(--primary);
    font-size: 2rem;
    font-weight: normal;
}
.socmedcontent small{
    color:var(--black);
}

@media screen and (max-width:768px){
    .serviceswrapper{
        flex-direction: column;
    }
    .serviceswrapper img{
        width: 100% !important;


    }
    .graphicswrapper{
        flex-direction: column;
    }
    .graphicswrapper img{
        width: 100% !important;
    }
    .socmedwrapper{
        flex-direction: column;

    }
    .socmedwrapper img{
        width: 100% !important;
    }
}
/*-----Services Page-----

.upTrends{
 padding: 6rem 0;
}

.upTrends h2{
    color: var(--primary);
    margin-top: 6rem;
    font-size: 3rem;
    line-height: 1rem;
}


.update__topics ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-top: 1rem 0;
    margin-bottom: 1rem;
}
.upTrends h3{
    color: var(--primary);
    margin-bottom: 1rem;
    font: 1rem;

}
.upTrends p{
    text-align: justify;
}
.upTrends a{
    color: var(--primary);
    text-decoration: none;
    margin-top: 3rem;
    display: block;
}
.border-bottom{
    border-bottom: 1px solid gray;

}
.update__topics{
    padding: 3rem 0;

}

.update_wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
}
    */
    
    .update__trends{
        padding: 6rem 0;
    }
    .trends__wrapper{
        display: flex;
        justify-content: space-between;
        gap: 0;
    }
    .trends__info{
        padding: 5rem 0;
    }
    .trends__info h1{
        font-size: 35px;
        color: var(--primary);
        line-height: 1rem;
    }
    .trends__content ul{
        display: flex;
        list-style-type: none;
        gap: 3rem;
        margin: 1rem 0 2rem 0;
    }
    .trends__content #img{
        margin-top: 3rem;
    }
    .trends__content ul li i,a{
        margin-right: 1rem;
        color: var(--black);
    }
    .trends__content h3{
        margin-bottom: 1rem;
        color: var(--primary);
    }
    .trends__content p{
        margin-bottom: 1rem;
    }
    .trends__content a{
        text-decoration: none;
    }
    .trends__content2 h3{
        padding: 0 0 1rem 4.5rem;
        color: var(--primary);
    }
    .trends__content2 #h3{
        padding: 13rem 0 2rem 4.5rem;
        color: var(--primary);
    }
    
    .trends__content2 table td{
        padding: 0 4.5rem;
    }
    .recent{
        display: flex;
        padding: 0 4.5rem ;
        margin-bottom: 2rem;
    }
    .recent img{
        padding-right: 1rem;
        max-width: auto;
        
    }
    .recent p{
        width: 250px;
    }
    .trends__content2 #h3__1{
        margin: 8rem 0 1rem 0;
        color: var(--primary);
    }
    .tags__wrapper{
        margin-left: 4.5rem;  
    }
    .tags__wrapper a{
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        padding: 0.8rem 2rem;
        border: 3px solid var(--black) ;
        border-radius: 66px;
        margin-bottom: 1rem;
    }
    .tags__wrapper .webdev{
        background-color: var(--black);
        padding: 0.8rem 1.9rem;
        color: var(--white);
    }
    .tags__wrapper a:hover{
        color: var(--white);
        background-color: var(--primary);
        font-weight: bold;
        box-shadow: 0 5px 5px 0px;
    }
    .tags__wrapper .webdev:hover{
        background-color: var(--black);
    }
    @media screen and (max-width:768px){
        .trends__wrapper{
            display: block;
        }

    }
    .contact_section{
        padding: 6rem;
    }
    .abt__wrapper{
        display: flex;
        align-items: center;
        gap:4rem;
    }
    .contact__wrapper h1{
        padding-top: 3rem;
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: var(--primary);
    }
    .abt__wrapper{
        display: flex;
        justify-content: space-between;
    }
    .contact__wrapper p{
        color: var(--white);
        margin-bottom: 20px;
    }
    .icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-right: 20px;
    }
    
    .icon i{
        
        margin-top: 20px;
        width: 40px;
        color: var(--primary);
    }
    .text {
        margin-top: 20px;
        color: var(--white);
        font-size:13px;
        margin-left: 20px;
    }
    .social__icon{
        margin-top: 20px;
        color: var(--white);
        align-items: center;
    }
    .social__icon i{
        margin-right: 10px;
    }
    .social__icon i:hover{
        color: var(--primary);
    }
    
    .contact_section{
        height: 100vh;
        background-color: var(--black);
    }
    
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        width: 100%;
        position: relative;
    }
    
    form {
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 20px;
        margin-right: 7rem;
        background-color:var(--black);
        width: 65%;
        border-radius: 5px;
    
    }
    
    label {
        display: block;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    input[type="text"], input[type="email"], textarea {
        width: 100%;
        padding: 13px;
        margin-bottom: 10px;
        border-radius: 3px;
        border: 1px solid #d3d3d3;
    }
    textarea{
        height: 20vh;
    }
    @mediascreen and (max-width:768px){
    .contact_section{
        height: 200vh;
        
        }
    }